.App {
  text-align: center;
  display: flex;
  justify-content: center;
}


.main{
  margin-top: 50px;
  border: 1px solid ;
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  width: 40%;
  box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
  height: 450px;
  text-align: center;
}

.row{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
select{
  padding: 5px;
  height: 38px;
  font-size: 15px;
  width: 100px;
}
input{
  height: 25px;
  padding: 5px;
  width: 60px;
}
.second select{
  width: 150px;
}
.thrid input{
  width: 110px;
}
.sumbitBtn{
  outline: none;
  border: 1px solid;
  border-radius: 20px;
  padding: 10px;
  margin-top: 50px;
  width: 250px;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 15px;
}
.sumbitBtn:hover{
  background-color: #4285F4;
  color: white;
  outline: white;
  cursor: pointer;
}